@import "fonts";
@import "spriteall";
$monbold: "Montserrat-Bold", sans-serif;
$monreg: "Montserrat-Regular", sans-serif;
$robot: "Roboto Light V1", sans-serif;
$text: #fff;
$buttons: #ff4e50;
$block__titles_col: #333;
$ideas-p-col: #666;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
   @media(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}
@mixin desktop {
   @media(min-width: #{$desktop-width}){
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

.promo {
  font-family: $monbold;
  color: $text;
  height: 540px;
  margin: auto;
  background: url("../img/promo.jpg") no-repeat;
  background-position: calc(50% - 12px) -10px;
  background-size: auto 102.5%;
  @include tablet {
    background-position: calc(50% - 2px);
    background-size: auto 100%;
    height: 700px;
  }

  .header {
    padding: 20px 0 0;
    width: 154px;
    display: block;
    margin: auto;
    @include tablet {
      padding: 38px 0 0;
      margin: 0 73.6%;
    }

    &__link {
      display: inline-block;
      color: $text;
      font-family: $monbold;
      font-size: 14px;
      text-decoration: none;
    }

    &__log {}

    &__sign {
      padding: 7px 17px 7px 15px;
      border: 2px solid $text;
      border-radius: 30px;
      margin-left: 15px;
    }
  }

  &__head {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 115px;
    letter-spacing: 0.7px;
    text-align: center;
    @include tablet {
      margin: -28px 64.5%0 0;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 27px;
    @include tablet {
      font-size: 52px;
      margin: 144px auto 0;
      display: block;
      width: 63%;
    }
  }

  &__par {
    font-size: 18px;
    font-family: $robot;
    text-align: center;
    margin-top: 8px;
    padding: 0 45px 0 43px;
    @include tablet {
      font-size: 24px;
      margin-top: 24px;
    }
  }
}

.promo-btn {
  display: block;
  height: 40px;
  width: 280px;
  border-radius: 20px;
  margin: 14px auto;
  border: none;
  background: $buttons;
  font-family: $monbold;
  color: $text;
  outline: none;
  cursor: pointer;
  @include tablet {
    width: 29.4%;
    margin: 33px 35% 0;
  }

  &_partners {
    margin: 24px auto 0;
    background: $text;
    color: $buttons;
    border: 2px solid $buttons;
  }

  &_search {
    margin: 10px auto 0;
  }
}

.title {
  font-family: $monbold;
  color: $block__titles_col;
  font-size: 22px;
  text-align: center;
  @include tablet {
    width: 38%;
    margin: 0 31.3%;
  }
}

.step {
  margin-top: 34px;
  @include tablet {
    margin-top: 94px;
  }

  .steps {
    border-radius: 4px;
    overflow: auto;
    height: 240px;
    width: 300px;

    &__item {
      display: block;
      background: $buttons;
      width: 70px;
      border-radius: 10px;
      text-align: center;
      color: $text;
      text-transform: uppercase;
      font-family: $monreg;
      font-size: 10px;
      margin: 69px 0 0 21px;
      padding: 4px 0 3px;
      letter-spacing: 1.5px;

      &_two {
        margin: 99px 0 0 20px;
      }
    }

    &__title {
      color: $text;
      font-family: $monbold;
      font-size: 24px;
      margin: 15px 0 0 19px;

      &_two {
        margin: 15px 0 0 18px;
      }
    }

    &__text {
      color: #ccc;
      font-family: $robot;
      font-size: 14px;
      display: block;
      width: 260px;
      margin: 12px 0 0 19px;

      &_two {
        margin: 12px 0 0 19px;
        word-spacing: 0.5px;
        line-height: 16px;
      }
    }
  }

  &_one {
    background: url("../img/step1.m.jpg")no-repeat;
    margin: 14px auto 0;
  }

  &_two {
    background: url("../img/step2.m.jpg")no-repeat;
    margin: 10px auto 0;
  }

  &_three {
    background: url("../img/step3.m.jpg")no-repeat;
    margin: 10px auto 0;
  }
}

.partners {
  margin: 34px 0 0;

  &__title {
    padding: 0 7px 0 0;
  }

  .partner {
    margin: 12px auto;

    &_two {
      margin-top: 24px;
    }

    &_three {
      margin-top: 23px;
    }

    &_four {
      margin-top: 23px;
    }

    &__photo {
      @include sprite($bh1);
      border-radius: 50%;
      margin: auto;
      position: relative;

      &_two {
        @include sprite($lm);
      }

      &_three {
        @include sprite($hw);
      }

      &_four {
        @include sprite($bh2);
      }
    }

    &__icon {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: $buttons;
      position: absolute;
      top: 70%;
      right: -3.5%;
      border: 5px solid #ffffff;
      box-sizing: border-box;

      &_two {
        background: #ffa507;
      }

      &_three {
        background: #1cd7ad;
      }

      &_four {
        background: #4e73db;
      }
    }

    &__img {
      @include sprite($-t-v);
      position: absolute;
      top: 22%;
      left: 20%;

      &_two {
        @include sprite($flask);
        left: 26%;
      }

      &_three {
        @include sprite($cup);
        top: 20%;
        left: 19%;
      }

      &_four {
        @include sprite($plane);
        left: 10%;
      }
    }

    &__name {
      font-size: 14px;
      font-family: $monbold;
      color: $block__titles_col;
      display: block;
      text-align: center;
      margin-top: 17px;

      &_three {
        margin-top: 16px;
        margin-left: -7px;
      }

      &_four {
        margin-top: 14px;
        margin-left: -7px;
      }
    }

    &__text {
      font-size: 14px;
      font-family: $robot;
      color: $ideas-p-col;
      margin-top: 13px;
      text-align: center;
      padding: 1px 63px 0;

      &_two {
        padding: 0 52px;
      }

      &_three {
        margin-top: 14px;
        padding: 0 54px 0 46px;
      }

      &_four {
        padding: 0 53px 0 45px;
        margin-top: 14px;
      }
    }
  }
}

.ideas {
  margin-top: 34px;
  height: 967px;
  background: #000;
}

.search {
  padding: 35px 0 40px;
  border-bottom: 4px solid $buttons;

  &__text {
    font-size: 18px;
    font-family: $robot;
    color: $block__titles_col;
    display: block;
    margin: 11px auto;
    width: 280px;
  }

  &__field {
    height: 38px;
    padding-left: 14px;
    margin: 14px auto 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: $robot;
    color: #999;
    font-size: 14px;
    width: 83%;
    display: block;
  }
}

.footer {
  margin-top: 16px;
  font-family: $monbold;

  &__head {
    color: $buttons;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: center;
    margin: 0 3px 0 0;
  }

  &__text {
    color: $block__titles_col;
    font-size: 14px;
    text-align: center;
    margin: 11px 3px 0 0;
  }

  &__nav {
    display: block;
    margin: 1px 0 0 16%;
  }

  &__items {
    color: $ideas-p-col;
    font-family: $robot;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
  }

  &__design {
    font-family: $monbold;
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13px;
    letter-spacing: 1px;
  }

  &__logo {
    display: block;
    @include sprite($logo);
    margin: 8px auto;
  }
}
//
// .test {
//   border-radius: 50%;
//   height: 100px;
//   width: 100px;
//   @include sprite($bh2);
//   @include tablet {
//     background: red;
//     border-radius: 0;
//   }
//   @include desktop {
//      @include sprite($bh1);
//     border-radius: 25%;
//   }
// }
