/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-TV {
  background-image: url(../img/spriteall.png);
  background-position: -267px -24px;
  width: 17px;
  height: 17px;
}
.icon-bh1 {
  background-image: url(../img/spriteall.png);
  background-position: -123px -126px;
  width: 122px;
  height: 122px;
}
.icon-bh2 {
  background-image: url(../img/spriteall.png);
  background-position: 0px 0px;
  width: 126px;
  height: 126px;
}
.icon-cup {
  background-image: url(../img/spriteall.png);
  background-position: -250px -24px;
  width: 17px;
  height: 17px;
}
.icon-flask {
  background-image: url(../img/spriteall.png);
  background-position: -301px -24px;
  width: 13px;
  height: 16px;
}
.icon-hw {
  background-image: url(../img/spriteall.png);
  background-position: 0px -126px;
  width: 123px;
  height: 123px;
}
.icon-lm {
  background-image: url(../img/spriteall.png);
  background-position: -126px 0px;
  width: 124px;
  height: 124px;
}
.icon-logo {
  background-image: url(../img/spriteall.png);
  background-position: -250px 0px;
  width: 110px;
  height: 24px;
}
.icon-plane {
  background-image: url(../img/spriteall.png);
  background-position: -284px -24px;
  width: 17px;
  height: 16px;
}
